<a href="https://colab.research.google.com/github/LinaDanilina/recommender-system/blob/master/Neural_Collaborative_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.metrics import (
    mean_squared_error,
    mean_absolute_error,
    r2_score,
    explained_variance_score,
    roc_auc_score,
    log_loss,
)

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
! ls
%cd drive/My Drive/recommenders

drive  sample_data
/content/drive/My Drive/recommenders

In [4]:
%tensorflow_version 1.x
import tensorflow as tf
tf.__version__

TensorFlow 1.x selected.

'1.15.2'

In [0]:
import time
import pandas as pd
#import tensorflow as tf

from reco_utils.recommender.ncf.ncf_singlenode import NCF
from reco_utils.recommender.ncf.dataset import Dataset as NCFDataset
from reco_utils.dataset import movielens
from reco_utils.common.notebook_utils import is_jupyter
from reco_utils.dataset.python_splitters import python_chrono_split
from reco_utils.evaluation.python_evaluation import (rmse, mae, rsquared, exp_var, map_at_k, ndcg_at_k, precision_at_k, 
                                                     recall_at_k, get_top_k_items)

In [0]:
# top k items to recommend
TOP_K = 10

# Select MovieLens data size: 100k, 1m, 10m, or 20m
MOVIELENS_DATA_SIZE = '100k'

# Model parameters
EPOCHS = 50
BATCH_SIZE = 256

SEED = 42

In [0]:
data = movielens.load_pandas_df(
    size=MOVIELENS_DATA_SIZE,
    header=["userID", "itemID", "rating", "timestamp"]
)

100%|██████████| 4.81k/4.81k [00:01<00:00, 4.66kKB/s]

In [0]:
data.head()

   userID  itemID  rating  timestamp
0     196     242     3.0  881250949
1     186     302     3.0  891717742
2      22     377     1.0  878887116
3     244      51     2.0  880606923
4     166     346     1.0  886397596

В этом методе тоже встроенный метод загрузки данных, все дальнейшие функции на этом завязаны, изменить мне это не удалось. И здесь так же данные совпали, к счастью.

In [0]:
df = pd.read_csv("ml-100k/ml-100k/u.data", sep="\t", names=['user_ids', 'item_ids', 'rating','timestamp'])
df.head()

   user_ids  item_ids  rating  timestamp
0       196       242       3  881250949
1       186       302       3  891717742
2        22       377       1  878887116
3       244        51       2  880606923
4       166       346       1  886397596

In [0]:
#@title split data
train, test = python_chrono_split(data, 0.75)

In [0]:
train=pd.read_csv('train.csv',delimiter=',')
train=train[['user_id','movie_id','rating','unix_timestamp']]
train=train.rename(columns={'user_id':'userID','movie_id':'itemID','unix_timestamp':'timestamp'})
test=pd.read_csv('test.csv',delimiter=',')
test=test[['user_id','movie_id','rating','unix_timestamp']]
test=test.rename(columns={'user_id':'userID','movie_id':'itemID','unix_timestamp':'timestamp'})

In [40]:
test

       userID  itemID  rating  timestamp
0         757     304       4  880672257
1          89     653       5  891384357
2         446     122       3  878854459
3         523     290       4  884627777
4         282     209       5  879298206
...       ...     ...     ...        ...
24995     400     171       3  891032896
24996     642     110       4  891446301
24997      13     844       3  880929564
24998     746     312       5  888638265
24999      41     317       5  881107718

[25000 rows x 4 columns]

In [0]:
data = NCFDataset(train=train, test=test, seed=SEED)

In [9]:
model = NCF (
    n_users=data.n_users, 
    n_items=data.n_items,
    model_type="NeuMF",
    n_factors=4,
    layer_sizes=[16,8,4],
    n_epochs=EPOCHS,
    batch_size=BATCH_SIZE,
    learning_rate=1e-3,
    verbose=10,
    seed=SEED
)

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:55: The name tf.set_random_seed is deprecated. Please use tf.compat.v1.set_random_seed instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:91: The name tf.reset_default_graph is deprecated. Please use tf.compat.v1.reset_default_graph instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:93: The name tf.variable_scope is deprecated. Please use tf.compat.v1.variable_scope instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:93: The name tf.AUTO_REUSE is deprecated. Please use tf.compat.v1.AUTO_REUSE instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:96: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:104: The name tf.truncated_normal is deprecated. Please use tf.random.truncated_normal instead.

WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

WARNING:tensorflow:From /tensorflow-1.15.2/python3.6/tensorflow_core/contrib/layers/python/layers/layers.py:1866: Layer.apply (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.__call__` method instead.
WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:220: The name tf.losses.log_loss is deprecated. Please use tf.compat.v1.losses.log_loss instead.

WARNING:tensorflow:From /tensorflow-1.15.2/python3.6/tensorflow_core/python/ops/losses/losses_impl.py:121: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:225: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:83: The name tf.GPUOptions is deprecated. Please use tf.compat.v1.GPUOptions instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:85: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:85: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /content/drive/My Drive/recommenders/reco_utils/recommender/ncf/ncf_singlenode.py:87: The name tf.global_variables_initializer is deprecated. Please use tf.compat.v1.global_variables_initializer instead.

In [10]:
start_time = time.time()

model.fit(data)

train_time = time.time() - start_time

print("Took {} seconds for training.".format(train_time))

Took 463.21880745887756 seconds for training.

In [11]:
start_time = time.time()

users, items, preds = [], [], []
item = list(train.itemID.unique())
for user in train.userID.unique():
    user = [user] * len(item) 
    users.extend(user)
    items.extend(item)
    preds.extend(list(model.predict(user, item, is_list=True)))

all_predictions = pd.DataFrame(data={"userID": users, "itemID":items, "prediction":preds})

merged = pd.merge(train, all_predictions, on=["userID", "itemID"], how="outer")
all_predictions = merged[merged.rating.isnull()].drop('rating', axis=1)

test_time = time.time() - start_time
print("Took {} seconds for prediction.".format(test_time))

Took 3.993696689605713 seconds for prediction.

In [12]:
eval_map = map_at_k(test, all_predictions, col_prediction='prediction', k=TOP_K)
eval_ndcg = ndcg_at_k(test, all_predictions, col_prediction='prediction', k=TOP_K)
eval_precision = precision_at_k(test, all_predictions, col_prediction='prediction', k=TOP_K)
eval_recall = recall_at_k(test, all_predictions, col_prediction='prediction', k=TOP_K)

print("MAP:\t%f" % eval_map,
      "NDCG:\t%f" % eval_ndcg,
      "Precision@K:\t%f" % eval_precision,
      "Recall@K:\t%f" % eval_recall, sep='\n')

MAP:	0.100595
NDCG:	0.376397
Precision@K:	0.332909
Recall@K:	0.176052

In [13]:
rmse(test, all_predictions)

3.224959597487537

In [14]:
mae(test, all_predictions)

3.0303612122614423

In [15]:
rsquared(test, all_predictions)

-7.162002839846105

In [16]:
exp_var(test, all_predictions)

0.04470609855574059