In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn.metrics import (
    mean_squared_error,
    mean_absolute_error,
    r2_score,
    explained_variance_score,
    roc_auc_score,
    log_loss,
)

In [3]:
from spotlight.datasets.movielens import get_movielens_dataset

dataset = get_movielens_dataset(variant='100K')
print(dataset)

<Interactions dataset (944 users x 1683 items x 100000 interactions)>

In [4]:
dataset.user_ids

array([196, 186,  22, ..., 276,  13,  12])

In [5]:
dataset.item_ids

array([ 242,  302,  377, ..., 1090,  225,  203])

В этом методе встроенный метод загрузки данных, все дальнейшие функции на этом завязаны, изменить мне это не удалось. Дальше я загрузила свои даннные, которые использую в CTR и автоэнкодере, и они совпадают.

In [6]:
df = pd.read_csv("C:\\Users\\Lina\\ml-100k\\ml-100k\\u.data", sep="\t", names=['user_ids', 'item_ids', 'rating','timestamp'])
df

       user_ids  item_ids  rating  timestamp
0           196       242       3  881250949
1           186       302       3  891717742
2            22       377       1  878887116
3           244        51       2  880606923
4           166       346       1  886397596
5           298       474       4  884182806
6           115       265       2  881171488
7           253       465       5  891628467
8           305       451       3  886324817
9             6        86       3  883603013
10           62       257       2  879372434
11          286      1014       5  879781125
12          200       222       5  876042340
13          210        40       3  891035994
14          224        29       3  888104457
15          303       785       3  879485318
16          122       387       5  879270459
17          194       274       2  879539794
18          291      1042       4  874834944
19          234      1184       2  892079237
20          119       392       4  886176814
21          167       486       4  892738452
22          299       144       4  877881320
23          291       118       2  874833878
24          308         1       4  887736532
25           95       546       2  879196566
26           38        95       5  892430094
27          102       768       2  883748450
28           63       277       4  875747401
29          160       234       5  876861185
...         ...       ...     ...        ...
99970       449       120       1  879959573
99971       661       762       2  876037121
99972       721       874       3  877137447
99973       821       151       4  874792889
99974       764       596       3  876243046
99975       537       443       3  886031752
99976       618       628       2  891308019
99977       487       291       3  883445079
99978       113       975       5  875936424
99979       943       391       2  888640291
99980       864       685       4  888891900
99981       750       323       3  879445877
99982       279        64       1  875308510
99983       646       750       3  888528902
99984       654       370       2  887863914
99985       617       582       4  883789294
99986       913       690       3  880824288
99987       660       229       2  891406212
99988       421       498       4  892241344
99989       495      1091       4  888637503
99990       806       421       4  882388897
99991       676       538       4  892685437
99992       721       262       3  877137285
99993       913       209       2  881367150
99994       378        78       3  880056976
99995       880       476       3  880175444
99996       716       204       5  879795543
99997       276      1090       1  874795795
99998        13       225       2  882399156
99999        12       203       3  879959583

[100000 rows x 4 columns]

We can feed our dataset to the ExplicitFactorizationModel class - and sklearn-like object that allows us to train and evaluate the explicit factorization models.

Internally, the model uses the BilinearNet class to represents users and items. It's composed of a 4 embedding layers:

* a (num_users x latent_dim) embedding layer to represent users,
* a (num_items x latent_dim) embedding layer to represent items,
* a (num_users x 1) embedding layer to represent user biases, and
* a (num_items x 1) embedding layer to represent item biases.

Together, these give us the predictions. Their accuracy is evaluated using one of the Spotlight losses. In this case, we'll use the regression loss, which is simply the squared difference between the true and the predicted rating.

In [7]:
import torch

from spotlight.factorization.explicit import ExplicitFactorizationModel

model = ExplicitFactorizationModel(loss='regression',
                                   embedding_dim=128,  # latent dimensionality
                                   n_iter=10,  # number of epochs of training
                                   batch_size=1024,  # minibatch size
                                   l2=1e-9,  # strength of L2 regularization
                                   learning_rate=1e-3,
                                   use_cuda=torch.cuda.is_available())

In [8]:
from spotlight.cross_validation import random_train_test_split
from sklearn.model_selection import train_test_split

train, test = random_train_test_split(dataset, random_state=np.random.RandomState(42))
#train, test = train_test_split(df, test_size=0.2)

print('Split into \n {} and \n {}.'.format(train, test))

Split into
 <Interactions dataset (944 users x 1683 items x 85000 interactions)> and
 <Interactions dataset (944 users x 1683 items x 15000 interactions)>.

In [9]:
history=model.fit(train, verbose=True)

Epoch 0: loss 12.990236259642101
Epoch 1: loss 6.567769289016724
Epoch 2: loss 1.5581430537360055
Epoch 3: loss 1.0407726211207253
Epoch 4: loss 0.934924916142509
Epoch 5: loss 0.8922242465473357
Epoch 6: loss 0.8821919496570315
Epoch 7: loss 0.8685591639507384
Epoch 8: loss 0.8514696118377504
Epoch 9: loss 0.8441359652649789

In [10]:
from spotlight.evaluation import rmse_score

train_rmse = rmse_score(model, train)
test_rmse = rmse_score(model, test)

print('Train RMSE {:.3f}, test RMSE {:.3f}'.format(train_rmse, test_rmse))

Train RMSE 0.907, test RMSE 0.944

In [11]:
 predictions = model.predict(test.user_ids, test.item_ids)

In [12]:
mean_squared_error(test.ratings, predictions)

0.89154094

In [13]:
mean_absolute_error(test.ratings, predictions)

0.74426913

In [14]:
r2_score(test.ratings, predictions)

0.30168220183221695

In [15]:
explained_variance_score(test.ratings, predictions)

0.30174070596694946